{
    "username": "username_here",
    "password": "password_here",
    "sharedSecret": "GET_YOUR_KEY_HERE", # LEAVE IT BLANK IF YOU DON'T HAVE MOBILE AUTH ACTIVATED OTHERWISE SEE (https://github.com/Jessecar96/SteamDesktopAuthenticator/releases)
    "games": [
        698780, # ID OF GAME YOU WANT TO IDLE (https://store.steampowered.com/app/698780/) 
        377160,
        227300
    ]
}